
@{
    ViewData["Title"] = "Connections";
}

<!-- #region Main -->
<main class="container-md">
    <div class="col-auto">
        <div class="p-2 border-1">
            <p class="text-primary fs-5 text-center">
                <i>&ldquo;Happiness is found in people, not things.&rdquo;</i>
            </p>
        </div>
    </div>
    <h2 class="smallBanner">My Classmates&rsquo; Websites</h2>
    <div class="accordion colleagues">
        <ul>
            <li>
                <div>
                    <a href="http://andcroft.com/" target="_blank">
                        <h2>Andrew</h2>
                        <p>Cocroft</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.codyslivinski.com/" target="_blank">
                        <h2>Cody</h2>
                        <p>Slivinski</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.werntzdomain.com/">
                        <h2>Darron</h2>
                        <p>Werntz</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://devschmidt.com/" target="_blank">
                        <h2>Devon</h2>
                        <p>Schmidt</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://jacecockrell.com/" target="_blank">
                        <h2>Jace</h2>
                        <p>Cockrell</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://goughkyle.com/" target="_blank">
                        <h2>Kyle</h2>
                        <p>Gough</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://www.nicholasdavolt.com/" target="_blank">
                        <h2>Nicholas</h2>
                        <p>Davolt</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</main>
<!-- #endregion -->
