@model MVCSite.Models.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}

<!-- #region Main -->
<main class="container-md">
    <div class="col-auto">
        <div class="p-2 border-1">
            <p class="text-primary fs-5 text-center">
                <i>
                    &ldquo;Mine kindness and love, and you will unearth the world's greatest treasure: true
                    friends.&rdquo;
                </i>
            </p>
        </div>
    </div>
    <h2 class="smallBanner">Contact Me</h2>
    <div class="row p-3 mb-3">
        <div class="mb-3 mt-2">
            <h3 class="d-inline">Email me from here.</h3>
        </div>
        <form asp-action="Contact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <input asp-for="Name" class="form-control" placeholder="Sender Name" aria-label="Your name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input asp-for="Email" class="form-control" placeholder="Sender Email" aria-label="Your email address">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input asp-for="Subject" class="form-control" placeholder="Subject" aria-label="The message subject">
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <textarea asp-for="Message"
                    rows="5"
                    class="form-control"
                    placeholder="Message body"
                    aria-label="The message body"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-light" />
            </div>
        </form>
    </div>
</main>
<!-- #endregion -->
@section Scripts {
    <!-- jQuery Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
