
@{
    ViewData["Title"] = "Contact";
}

<!-- #region Main -->
<main class="container-md">
    <div class="col-auto">
        <div class="p-2 border-1">
            <p class="text-primary fs-5 text-center">
                <i>
                    &ldquo;Mine kindness and love, and you will unearth the world's greatest treasure: true
                    friends.&rdquo;
                </i>
            </p>
        </div>
    </div>
    <h2 class="smallBanner">Contact Me</h2>
    <div class="row p-3 mb-3">
        <div class="mb-3 mt-2">
            <h3 class="d-inline">Email me from here.</h3><p class="cover">Coming Soon!</p>
        </div>
        <div class="input mb-3">
            <input type="text" class="form-control" placeholder="Sender Name" aria-label="Your email address" disabled>
        </div>
        <div class="input mb-3">
            <input type="text" class="form-control" placeholder="Sender Email" aria-label="Your email address" disabled>
        </div>
        <div class="input mb-3">
            <input type="text" class="form-control" placeholder="Subject" aria-label="Your email address" disabled>
        </div>
        <div class="mb-3">
            <textarea rows="5" class="form-control" aria-label="Message body" placeholder="Message Body" disabled></textarea>
        </div>
        <div>
            <button disabled>Send</button>
        </div>
    </div>
</main>
<!-- #endregion -->
